<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <style>
        .floatLeft {
            width: 50%;
            float: left;
        }

        .floatRight {
            width: 50%;
            float: right;
        }

        .container {
            overflow: hidden;
        }

    </style>

</head>
<body>

<div class="container">
    <div class="floatLeft">
        <form id="newCarForm" method="post">
            <label>Plaka kodu : </label>
            <input id="plateCodeText" name="plateCodeText" type="text">
            <label>Rent A Car ID : </label>
            <select id="rentACarList"></select>
            <input id = "newCarFormBtn"class="btn-primary" type="submit" value="Araba ekle"></input>
        </form>
        <form id="carKeyWordForm" method="get">
            <label>Anahtar Kelime : </label>
            <input id="carKeyWordText" name="carKeyWordText" type="text">
            <input class="btn-primary" type="submit" value="Ara"></input>
        </form>
        <table class="table table-bordered" id="carTable" style="float:left">
            <thead>
            <tr>
                <th scope="col">CAR ID</th>
                <th scope="col">PLAKA KODU</th>
                <th scope="col">RENT A CAR ID</th>
                <th scope="col">KIRALANDI</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${modelData.get('left')}" >
                <td th:text="${car.carID}"></td>
                <td th:text="${car.plateCode}"></td>
                <td th:text="${car.rentACarID}"></td>
                <td th:text="${car.rented}"></td>
                <td><button class='btn-info' th:if="${car.rented} != true"  th:data-id="${car.carID}" th:onclick="updateCar(this.getAttribute('data-id'))">Güncelle</button></td>
                <td><button class='btn-danger' th:if="${car.rented} != true"  th:data-id="${car.carID}" th:onclick="removeCar(this.getAttribute('data-id'))">Sil</button></td>
                <td><button class='btn-default' th:if="${car.rented} != true"  th:data-id="${car.carID}" th:onclick="rentCar(this.getAttribute('data-id'))">Araç Kirala</button></td>
                <td><button class='btn-default' th:if="${car.rented} == true"  th:data-id="${car.carID}" th:onclick="releaseCar(this.getAttribute('data-id'))">Araç Bırak</button></td>
            </tr>
            </tbody>
        </table>




    </div>


        <div class="floatRight">
            <form id="newRentACar" method="post">
                <label>RentACar Name : </label>
                <input id="rentACarName" name="rentACarName" type="text">
                <input class="btn-primary" type="submit" value="RentACar Ekle"></input>
            </form>
            <form id="rentACarKeyWordForm" method="get">
                <label>Anahtar Kelime : </label>
                <input id="rentACarKeyWordText" name="rentACarKeyWordText" type="text">
                <input class="btn-primary" type="submit" value="Ara"></input>
            </form>
            <table class="table table-bordered" id="rentACarTable"style="float:left">
                <thead>
                <tr>
                    <th scope="col">RENT A CAR ID</th>
                    <th scope="col">RENT A CAR ADI</th>
                    <th scope="col">ARAÇ SAYISI</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="rentACar : ${modelData.get('right')}" >

                    <td th:text="${rentACar.rentACarID}"></td>
                    <td th:text="${rentACar.rentACarName}"></td>
                    <td th:text="${rentACar.carCount}"></td>

                    <td><button class='btn-info' th:data-id="${rentACar.rentACarID}" th:onclick="updateRentACar(this.getAttribute('data-id'))">Güncelle</button></td>
                    <td><button class='btn-danger' th:data-id="${rentACar.rentACarID}" th:onclick="removeRentACar(this.getAttribute('data-id'))" >Sil</button></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
<script th:src="@{/js/index.js}"></script>
</body>

</html>