<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet" >
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<form id="updateRentACarForm" method="post">

    <label>Rent A Car ID</label>
    <input id="rentACarIDText" name="rentACarIDText" type="text" th:value="${modelData.rentACarID}"disabled > </input><br/>
    <label>Rent A Car Adı</label>
    <input id="rentACarNameText" name="rentACarNameText" type="text" th:value="${modelData.rentACarName}"> <br/>

    <input class="btn-primary" type="submit" value="Güncelle"></input>

</form>
<button class="btn-block" onclick="window.location.href='/'" style="width: 100px">Geri</button>
</body>

<script>
    $('#updateRentACarForm').submit(function (e) {
        e.preventDefault();

        var rentACarData = {}
        rentACarData["rentACarID"] = $("#rentACarIDText").val();
        rentACarData["rentACarName"] = $("#rentACarNameText").val();

        var regex= /[^\s]$/;
        var validRentACarName=regex.test(rentACarData["rentACarName"]);

        if(!validRentACarName){
            alert("Rent A Car adı formata uygun değil.")
        }
        else{
        $.ajax({
            type: "post",
            contentType: "application/json",
            url: "/updaterentacarpost",
            data: JSON.stringify(rentACarData),
            dataType: 'json',
            statusCode:{
                202: function (){
                    window.location.href = "/";
                },
                500: function (){
                    alert("İşlem esnasında bir hata oluştu. Tekrarlayan eleman olabilir .")
                }
            }

        });}
    })
</script>
</html>