<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<form id="updateCarForm" method="post">
    <label>Car ID</label>
    <input disabled id="carIDText" name="carID" th:value="${modelData.carID}" type="text"> </input><br/>
    <label>Plaka Kodu </label>
    <input id="plateCodeText" name="plateCode" th:value="${modelData.plateCode}" type="text"> <br/>
    <label>Rent A Car ID </label>
    <select id="rentACarList"></select>
    <input class="btn-primary" type="submit" value="Güncelle"></input>
</form>
<button class="btn-block" onclick="window.location.href='/'" style="width: 100px" >Geri</button>
</body>

<script th:src="@{/js/index.js}"></script>
<script>

    $('#updateCarForm').submit(function (e) {
        e.preventDefault();

        var carData = {}
        carData["carID"] = $("#carIDText").val();
        carData["plateCode"] = $("#plateCodeText").val();
        carData["rentACarID"] = $('#rentACarList option:selected').val();

        var regex = /^\d+$/;

        var validPlateCode = regex.test(carData["plateCode"]);

        if (!validPlateCode) {
            $("#plateCodeText").val();
            alert("Plaka kodu formata uygun değil.")
        } else {
            $.ajax({
                type: "post",
                contentType: "application/json",
                url: "/updatecarpost",
                data: JSON.stringify(carData),
                dataType: 'json',
                statusCode:{
                    202: function (){
                        window.location.href = "/";
                    },
                    500:function (){
                        alert("İşlem esnasında bir hata oluştu. Tekrarlayan eleman olabilir .")
                    }
                }
            });
        }
    })
</script>
</html>